<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Spike.sh">
    <meta name="copyright" content="Spike.sh">
    <link rel="canonical" href="https://spike.sh/{{#if term}}{{page.fileSlug}}{{else}}glossary{{/if}}">

    {{!-- Phone tags --}}
    <link rel="icon" type="image/png" sizes="24x24" href="https://cdn.spike.sh/logos/spike-badge-icon.png">
    <link rel="apple-touch-icon" href="https://cdn.spike.sh/logos/spike-badge-180.png">
    <meta name="mobile-web-app-capable" content="yes" />
    <!--[if IE]>
        <p>Spike works best on modern browsers. Download <a href="https://www.google.com/chrome/">Google Chrome</a> or <a href="https://brave.com/">Brave</a> for the best experience.</p>
    <![endif]-->

    <!-- Square Windows tiles -->
    <meta name="msapplication-TileImage" content="https://cdn.spike.sh/logos/spike-badge.png">
    <meta name="msapplication-square70x70logo" content="https://cdn.spike.sh/logos/spike-badge-70.png">
    <meta name="msapplication-square150x150logo" content="https://cdn.spike.sh/logos/spike-badge-150.png">
    <meta name="msapplication-square310x310logo" content="https://cdn.spike.sh/logos/spike-badge-310.png">
    <!-- Rectangular Windows tile -->
    <meta name="msapplication-wide310x150logo" content="https://cdn.spike.sh/logos/spike-logo-525x150.png">
    <!-- Windows tile theme color -->
    <meta name="msapplication-TileColor" content="#2e2e2e">
    <meta name="msapplication-TileColor" content="#f2f7fc">


    {{#if term}}
        <title>{{term}} in Incident Response Explained</title>
    {{else}}
        <title>Incident Response Glossary: 500+ Key Terms Explained | Spike</title>
    {{/if}}

    {{!-- SEO --}}
    {{#if term}}
        <meta name="title" content="{{term}} in Incident Response Explained">
        <meta name="description" content="Learn what {{term}} means in incident response, why it matters, and how it impacts teams.">
        <meta name="keywords" content="{{term}}, Spike, Glossary, Incident Response, Incident Management, DevOps, Site Reliability Engineering, SRE, On-call Management, Incident Management Glossary, DevOps Terms, SRE Terms">

        <!-- Open Graph / Facebook -->
        <meta property="og:title" content="{{term}} in Incident Response Explained">
        <meta property="og:description" content="Learn what {{term}} means in incident response, why it matters, and how it impacts teams.">
        <meta property="og:url" content="https://spike.sh/{{page.fileSlug}}">
        <meta property="og:type" content="article">
        <meta property="og:image" content="https://cdn.spike.sh/glossary/{{page.fileSlug}}.png">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">

        {{!-- Twitter --}}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:url" content="https://spike.sh/{{page.fileSlug}}">
        <meta name="twitter:title" content="{{term}} in Incident Response Explained">
        <meta name="twitter:description" content="Learn what {{term}} means in incident response, why it matters, and how it impacts teams.">
        <meta name="twitter:image" content="https://cdn.spike.sh/glossary/{{page.fileSlug}}.png">
    {{else}}
        <meta name="title" content="Incident Response Glossary: 500+ Key Terms Explained | Spike">
        <meta name="description" content="Discover 500+ essential terms for incident response and management. Learn definitions, examples, and best practices.">
        <meta name="keywords" content="Spike, Glossary, Incident Response, Incident Management, DevOps, Site Reliability Engineering, SRE, On-call Management, Incident Management Glossary, DevOps Terms, SRE Terms">

        <!-- Open Graph / Facebook -->
        <meta property="og:title" content="Incident Response Glossary: 500+ Key Terms Explained | Spike">
        <meta property="og:description" content="Discover 500+ essential terms for incident response and management. Learn definitions, examples, and best practices.">
        <meta property="og:url" content="https://spike.sh/glossary">
        <meta property="og:type" content="article">
        <meta property="og:image" content="https://cdn.spike.sh/glossary/glossary-default.png">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">

        {{!-- Twitter --}}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Incident Response Glossary: 500+ Key Terms Explained | Spike">
        <meta name="twitter:url" content="https://spike.sh/glossary">
        <meta name="twitter:description" content="Discover 500+ essential terms for incident response and management. Learn definitions, examples, and best practices.">
        <meta name="twitter:image" content="https://cdn.spike.sh/glossary/glossary-default.png">
    {{/if}}

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monoton&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="https://cdn.spike.sh/website/css/main.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    {{> header}}
    <main>
        <div class="main-container">
            {{{content}}}
        </div>
    </main>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
        
    <!-- bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>

    <!-- Custom JS -->
    <script src="https://cdn.spike.sh/website/js/app.min.js"></script>
    <script src="/assets/js/glossary.js"></script>
</body>

</html>