---
layout: layouts/base.hbs
---
<div class="glossary-item" 
    {{#if featuredHeading}}data-featured-heading="{{featuredHeading}}"{{/if}}
    {{#if term}}data-term="{{term}}"{{/if}}>
    <div class="border-bottom glossary-intro-header">
        <div class="container">
            <div class="glossary-item--title">
                <h1>{{term}}</h1>
            </div>
            <div class="glossary-intro">
                <p>
                    {{excerpt}}
                </p>
            </div>
        </div>
    </div>

    <div class="alphabet-filter">
        <div class="alphabet-filter-content">
            <div class="glossary-back-link">
                <a href="/">← Glossary</a>
            </div>
            <div class="letter-nav" data-active-letter="{{firstLetter}}">
                {{#each collections.alphabetList}}
                <a href="#{{this}}" data-letter="{{this}}">{{this}}</a>
                {{/each}}
            </div>
        </div>
    </div>


    <div class="glossary-content container">
        <div class="row">
            {{!-- col-8 --}}
            <div class="glossary-sections col-12 col-sm-12 col-md-8">
                {{{content}}}
            </div>
            {{!-- col-4 --}}
            <div class="glossary-sidebar col-12 col-sm-12 col-md-4">
                <div class="glossary-sidebar-content">
                    <div class="glossary-sidebar-section">
                        <div class="socials d-flex align-items-center justify-content-around">
                            <a href="https://x.com/spikedhq">Follow us on X</a>
                            <div class="dot">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#777">
                                    <path
                                        d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z" />
                                </svg>
                            </div>
                            <a href="https://linkedin.com/company/spike-hq">LinkedIn</a>
                        </div>

                        <div class="sidebar-cards">
                            <div class="sidebar-card">
                                <h3>What's the Root Cause?</h3>
                                <a href="https://spike.sh/quiz" class="card-link">
                                    Take the quiz
                                </a>
                            </div>
                        </div>

                        <div class="sidebar-cards">
                            <div class="sidebar-card">
                                <h3>PagerDuty Pricing breakdown</h3>
                                <a href="https://spike.sh/blog" class="card-link">
                                    Read the blog
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{#if related}}
        <section class="further-reading">
            <h2>Further reading:</h2>
            <div class="related-cards row">
                {{#each (processRelated related collections.glossaryItems)}}
                <div class="col-md-4 mb-4">
                    <div class="related-card">
                        <h3>{{this.title}}</h3>
                        <p>{{this.excerpt}}</p>
                        <a href="/glossary/{{this.slug}}/" class="card-link"></a>
                    </div>
                </div>
                {{/each}}
            </div>
        </section>
        {{/if}}
    </div>
</div>