---
layout: layouts/base.hbs
title: Glossary
permalink: /
---
<div class="glossary-page">
    <div class="glossary-intro-container border-bottom">
        <h1>GLOSSARY</h1>

        <div class="glossary-intro">
            <p>
                Curious about how modern teams keep systems reliable? This glossary is a beginner-friendly guide to
                incident response — with over 500 terms covering on-call, alerting, monitoring, and system reliability.
                Whether you're just getting started or part of an SRE, DevOps, or operations team, this is your go-to
                reference for everything incident-related.
            </p>
        </div>
    </div>

    <div class="alphabet-filter row">
        <div class="alphabet-filter-content">
            <div class="col-2"></div>
            <div class="letter-nav">
                {{#each collections.alphabetList}}
                <a href="#{{this}}">{{this}}</a>
                {{/each}}
            </div>
            <div class="search-container ms-3">
                <input type="text" id="glossary-search" placeholder="Search glossary..." class="search-input">
            </div>
        </div>
    </div>

    <div class="glossary-list container">
        <div id="no-results" class="no-results" style="display: none;">
            <div class="no-results-message">
                <h3>No matching terms found</h3>
                <p>Try a different search term or browse by letter</p>
            </div>
        </div>

        {{#each collections.glossaryItemsByLetter}}
        <div class="letter-group row" id="{{@key}}">
            <div class="letter-marker col-2">
                <div class="letter-marker-container">
                    <span>{{@key}}</span>
                </div>
            </div>
            <div class="letter-items col-10">
                <div class="row">
                    {{#each this}}
                    <div class="col-lg-4 col-md-6 col-12 mb-4">
                        <div class="glossary-card">
                            <h2>{{title}}</h2>
                            <p>{{truncate excerpt 200}}</p>
                            <a href="/glossary/{{this.slug}}/" class="card-link" data-slug="{{this.slug}}"></a>
                            <span class="read-more">Learn more
                                <span class="right-arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#1f1f1f">
                                        <path d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z" />
                                    </svg>
                                </span>
                            </span>
                        </div>

                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>