---
layout: layouts/base.hbs
title: Glossary
permalink: /
---
<div class="glossary-page">
    <h1>GLOSSARY</h1>
    
    <div class="glossary-intro">
        <p>Culpa voluptate culpa enim aliqua elusmod mollit fugiat anim irure aliqua aute Lorem. Voluptate culpa est cillum dolore cupidatat duis occaecat quis reprehenderit. Ipsum voluptate ad elusmod ullamco proident veniam officia duis officia ad ut. Esse non exercitation proident sunt pariatur consequat officia officia. Elusmod nulla ipsum officia ipsum minim fugiat ex. Est occaecat amet quis sit sit cupidatat deserunt ex mollit. Id anim irure ad cupidatat do. Tempor ipsum nisi aliqua proident consequat et.</p>
    </div>
    
    <div class="alphabet-filter">
        <div class="letter-nav">
            {{#each collections.alphabetList}}
            <a href="#{{this}}">{{this}}</a>
            {{/each}}
        </div>
    </div>
    
    <div class="glossary-list container">
        {{#each collections.glossaryItemsByLetter}}
        <div class="letter-group row" id="{{@key}}">
            <div class="letter-marker col-2">
                <span>{{@key}}</span>
            </div>
            <div class="letter-items col-10">
                <div class="row">
                    {{#each this}}
                    <div class="col-lg-4 col-md-6 col-12 mb-4">
                        <div class="glossary-card">
                            <h2>{{title}}</h2>
                            <p>{{excerpt}}</p>
                            <a href="/glossary/{{slug}}/"></a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>